* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo y contenedor */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0000FF, #800080);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (orientation: landscape) {
    body {
        background: linear-gradient(to right, #0000FF, #800080);
    }
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo del encabezado */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de la tabla de resultados */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Estilo del botón Regresar y otros botones */
a button, button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

a button:hover, button:hover {
    background-color: #0056b3;
}
